.timeline {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  align-items: center;
}
.timeline-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  max-width: 230px;
  width: 100%;
}
.timeline-item .icon {
  font-size: 2rem;
  width: 3rem;
  text-align: center;
}
.timeline-item .content {
  padding-left: 1rem;
}
.time {
  font-weight: bold;
  font-size: 1.2rem;
}
.description {
  font-size: 0.9rem;
  color: #6c757d;
}
.location {
  font-size: 0.9rem;
  color: #0d6efd;
  text-decoration: underline;
  display: block;
}
